#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face
{
  font-family: Lobster;
  src: url("/lobster.otf") format("opentype");
}

#shadertoy {
  color: inherit;
  font-size: 2.25em;
  font-family: Lobster,Tahoma,Arial;
  text-decoration: none;
  padding-left: 32px;
  padding-right: 32px;
}

#shadertoy:hover {
  color: #ff8020;
}

#github:hover {
  color: white;
}

.shader {
  width: 80px;
  height: 80px;
}

.githubIcon {
  width: 150px;
  height: 150px;
}

.card {
  padding: 2em;
}
